table, td { font-family: inconsolata, consolas, monospace; }
table     { border-collapse: collapse; }
td        { height: 1em; width: 0.8em; vertical-align: center; text-align: center; }

.player   { color: black; background-color: white; }

.misc     { color: black; background-color: #eee; }

.gold     { color: brown; background-color: yellow; }
.floor    { color: gray;  background-color: #eee; }
.wall     { color: gray;  background-color: #555; }
.door     { color: brown; background-color: #cb8; }
.monster  { color: red;   background-color: #fbb; }
.weapon   { color: white; background-color: gray; }
