html, body      { margin: 0; padding: 0; border: 0; }

table, td       { font-weight: bold; font-family: consolas, monospace; font-size: 20px; margin: 0; padding: 0; border: 0; }
table           { border-collapse: collapse; }
tr, td          { margin: 0; padding: 0; border: 0; }
td              { height: 24px; width: 20px; vertical-align: center; text-align: center; border-collapse: collapse; color: black; }

td.gold         { color: brown; background-color: yellow; }
td.floor        { color: gray;  background: url("./assets/dirt.jpg"); background-attachment: fixed; }
td.wall         { color: rgba(127, 127, 127, 0.2); background: url("./assets/darkgranite.jpg"); background-attachment: fixed; }
td.door         { color: brown; background-color: #cb8; }
td.weapon       { color: white; background-color: gray; }

td.monster      { }
td.creature     { text-shadow: 1px 1px #000000; }

table td.player { color: white; }
table td.dragon { color: red; }
table td.kobold { color: #3f9; }
